[{sasl,[{errlog_type,error}]},
 {chrisipowell_api,
     [{'Elixir.ChrisipowellApi.Endpoint',
          [{url,[{host,<<"localhost">>}]},
           {secret_key_base,
               <<"P4ATULnnlKy87r3fgeZP1yzwpAmyldwfBp9OBTGk5APfMxvkoeK/DQcYgXQ5p8xD">>},
           {render_errors,
               [{view,'Elixir.ChrisipowellApi.ErrorView'},
                {accepts,[<<"json">>]}]},
           {pubsub,
               [{name,'Elixir.ChrisipowellApi.PubSub'},
                {adapter,'Elixir.Phoenix.PubSub.PG2'}]},
           {gettext,'Elixir.ChrisipowellApi.Gettext'},
           {default_locale,<<"en">>},
           {http,[{port,4000}]},
           {debug_errors,true},
           {code_reloader,true},
           {check_origin,false},
           {watchers,[]}]}]},
 {logger,
     [{console,[{metadata,[request_id]},{format,<<"[$level] $message\n">>}]}]},
 {phoenix,[{stacktrace_depth,20}]}].
